# Exploratory Notebook

Use this notebook to explore the project data using `pandas`, SQL, and Matplotlib!

You will not be submitting this notebook so feel free to try out different "experiments" to figure out what works best.

When you're happy with your code and want to turn it in, copy it into the `final.ipynb` notebook and download that notebook for the PDF submission.

# Executive Summary

### Problem: 
Microsoft needs to know what is a key metric that makes a film successful. They need that information to enter the film market and be competitive.
My task is to find the types of films currently doing best in the box office. I need to translate those findings into actionable insights that the head of microsofts new movie studio can use to help decide what types of films to create 

### Goal: 
Question to be answered:
* Which Generes performed better based on ROI?
* Using the top genres of THE CURRENT TIME or even HISTORICALLY which genres should microsoft produce to be competitive in TODAYS film market? 


### Metrics used: 
Success is determined by ROI for now. 
Which Generes performed better based on ROI?
Worldwide gross is international and domestic totals


### Tasks performed:



### Findings:

## CSV and TSV Data

Here is some starter code that opens up some of the CSV and TSV data and loads it into DataFrames:

In [1]:
import pandas as pd
import seaborn as sns


## This table below can be used to find genre

use explode to separate data find the movie title using ID

## SQL Data

The below line should only need to be run once. It unzips the SQL data, since SQLite doesn't work with zipped data.

In [2]:
! unzip -n zippedData/im.db.zip

Archive:  zippedData/im.db.zip

Then here is some starter code that reads one of the data tables from the database:

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect("im.db")

In [5]:
#grabbing all of the table names from the im.bd data

cur = conn.cursor()
cur.execute('''SELECT  name FROM sqlite_master WHERE type ='table' ;''')

table_names = cur.fetchall()
table_names

#each one of these will possibly need to be opened up depending on which data I need for my research

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [6]:
directors = pd.read_sql("SELECT * FROM directors;", conn)
directors.head()

    movie_id  person_id
0  tt0285252  nm0899854
1  tt0462036  nm1940585
2  tt0835418  nm0151540
3  tt0835418  nm0151540
4  tt0878654  nm0089502

In [7]:
movie_ratings = pd.read_sql("SELECT * FROM movie_ratings;", conn)
movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [8]:
movie_titles = pd.read_sql("SELECT * FROM movie_akas;", conn)
movie_titles.head(20)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
5,tt0369610,15,Jurassic World,GR,None,imdbDisplay,None,0.0
6,tt0369610,16,Jurassic World,IT,None,imdbDisplay,None,0.0
7,tt0369610,17,Jurski svijet,HR,None,imdbDisplay,None,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,None,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,None,imdbDisplay,None,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,None,imdbDisplay,None,0.0
11,tt0369610,20,Jurassic World,SE,None,imdbDisplay,None,0.0
12,tt0369610,21,Jurassic World 3D,US,None,None,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,None,None,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,None,None,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,None,imdbDisplay,None,0.0
16,tt0369610,25,Mundo Jurássico,PT,None,imdbDisplay,None,0.0
17,tt0369610,26,Мир Юрского периода,RU,None,None,None,0.0
18,tt0369610,27,Jurský svět,CZ,None,None,None,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,None,0.0

## Your Data Analysis Here

In [9]:
#look at all the files to explore
!ls zippedData

bom.movie_gross.csv.gz	rt.movie_info.tsv.gz  tmdb.movies.csv.gz
im.db.zip		rt.reviews.tsv.gz     tn.movie_budgets.csv.gz

In [10]:
#open movie budgets 
tmdb_movie = pd.read_csv("zippedData/tmdb.movies.csv.gz")
tmdb_movie.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [11]:
reviews = pd.read_csv("zippedData/rt.reviews.tsv.gz",sep='\t', encoding='latin1')

reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [12]:
im.db.zi

NameError: name 'im' is not defined

# Goal as of now
Metric: success is determined by ROI and ratings
Goal: is find the types of films currently doing best in the box office
translate those findings into actionable insights that the head of microsoft new movie studio can use to help decide what types of films to create 

Feedback for propasal by Matt; "Most of this sounds good! Worldwide Gross would be considered a metric for success. You can think of the aspects you can investigate as the things Microsoft has direct control over (the genre of the movie, budget, invested, directors/actors hired, etc). The metric is the result (rating, ROI, worldwide gross, etc). Just wanted to throw that out there as you begin diving into your analysis! Let me know if you have any questions about this!!"

## Things to look at 
Metric = Ratings and ROI 
What Genre is doing the best in the box office recently or historically 
- Look at Genre 
- compare ROI and Reviews 
- compare those to genre see if correlation there 
* SO METRIC IS RATINGS AND ROI AND We can to see if Genre and dates have an impact on those**

### We have already opened but need to further explore these files;
1. im.bd zip
2. rt.movie_info.tsv.gz
3. bom.movie_gross.csv.gz

### We need to open up; 
4. tmdb.movies.csv.gz
5. tn.movie_budgets.csv.gz
6. rt.reviews.tsv.gz

# These are the ones that will be relevent to my reseach just based on the names
since I want to prove that a movie is successful by its ROI then we will need to explore budgets and gross and possibly engineer an ROI column 
## To explore first 
1. bom.movie_gross.csv.gz = bom_movie_gross
2. tn.movie_budgets.csv.gz = movie_budgets 
3. rt.reviews.tsv.gz

## Steps
1. explore/ deep dive 
2. data clean
3. JOINS two tables using id's
Figure out if you need bom movie gross and movie budgets tables maybe just choose 1? 

# Movie_budgets
## Step 1: Cleaning the data

In [ ]:
#open movie budgets 
movie_budgets = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
movie_budgets.head()

### Checking column types

In [ ]:
movie_budgets.info()

### Remove characters "$" and ',' to be able to turn comlumn into a INT (number)

In [ ]:
movie_budgets["production_budget"] = movie_budgets["production_budget"].str.replace("$","", regex=True)
movie_budgets["production_budget"] = movie_budgets["production_budget"].str.replace(",","", regex=True)

### Turn column into numuric column and check if it worked

In [ ]:
movie_budgets["production_budget"] = movie_budgets["production_budget"].apply(pd.to_numeric)
movie_budgets.info()

### Remove characters "$" and "," to be able to turn comlumn into a INT

In [ ]:
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].str.replace("$","", regex=True)
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].str.replace(",","", regex=True)

### Turn column into numuric column and check if it worked

In [ ]:
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].apply(pd.to_numeric)
movie_budgets.info()

### Remove characters "$" and "," to be able to turn comlumn into a INT

In [ ]:
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].str.replace("$","", regex=True)
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].str.replace(",","", regex=True)
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].apply(pd.to_numeric)
movie_budgets.info()

### Engineer a new feature to calculate ROI

In [ ]:

movie_budgets["ROI"] = movie_budgets["worldwide_gross"] - movie_budgets["production_budget"]
movie_budgets

### Adding commas so that the data looks cleaner

In [ ]:
movie_budgets["ROI"] = movie_budgets.apply(lambda x: "{:,}".format(x["ROI"]), axis=1)
movie_budgets["worldwide_gross"] = movie_budgets.apply(lambda x: "{:,}".format(x["worldwide_gross"]), axis=1)
movie_budgets["production_budget"] = movie_budgets.apply(lambda x: "{:,}".format(x["production_budget"]), axis=1)
movie_budgets["domestic_gross"]= movie_budgets.apply(lambda x: "{:,}".format(x["domestic_gross"]), axis=1)

In [ ]:
movie_budgets.head()

So now that we can see the Return on investment we can actually see how ratings can have a correlation as well

## Lets look at bom_movie_gross

In [ ]:
bom_movie_gross = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
bom_movie_gross.info()

In [ ]:
bom_movie_gross.head()

Looks like we already got this information from the previous table but we'll keep it just in case there is something we can cross reference from another table we havent looked at yet

In [ ]:
movie_budgets['id'] = movie_budgets['id'].astype(str)

### movie_basics

In [ ]:
movie_basics = pd.read_sql("SELECT * FROM movie_basics;", conn)

movie_basics.head()

In [ ]:
basic_ratings = pd.merge(movie_ratings, movie_basics, on=['movie_id'], how='outer')
basic_ratings['genre_list'] = basic_ratings['genres'].str.split(',')

In [ ]:
genre_ratings = basic_ratings.explode('genre_list')

genre_ratings.info()
#explode working but not within the table???.

In [ ]:
#now to plot showing ratings amongst genres 
#which genres had better ratings 
#youll want to create a four loop adding 1 to a list everytime a genre shows up

In [ ]:
genre_ratings = genre_ratings.dropna()
genre_ratings.info()

In [ ]:
genre_ratings.columns = genre_ratings.columns.str.replace(' ', '')
genre_ratings.columns = genre_ratings.columns.str.strip()
genre_ratings['genre_list'].value_counts()

In [ ]:
genre_ratings.genre_list.value_counts().sort_values().plot(kind = 'barh')

## To-Do: drop Reality Tv, game-show, adult, and short

In [ ]:
#see how many rows right now it is 118,256 rows
genre_ratings.shape

In [ ]:
#drop the rows that have reality-tv, short, game-show, and adult
genre_ratings = genre_ratings[genre_ratings['genre_list'].str.contains("Reality-TV")== False]
genre_ratings = genre_ratings[genre_ratings['genre_list'].str.contains("Short")== False]
genre_ratings = genre_ratings[genre_ratings['genre_list'].str.contains("Game-Show")== False]
genre_ratings = genre_ratings[genre_ratings['genre_list'].str.contains("Adult")== False]

In [ ]:
genre_ratings.shape
#now its 118,238 rows

In [ ]:
genre_ratings['genre_list'].value_counts()

In [ ]:
genre_ratings.genre_list.value_counts().sort_values().plot(kind = 'barh')

## TO DO: Try to compare genre value counts to avg_ratings

In [ ]:
#TRYING TO ADD VALUE COUNTS AS A COLUMN SO THAT WE CAN COMPARE IT TO RATINGS 
genre_ratings['genre_list_counts'] = genre_ratings.groupby('genre_list')['genre_list'].transform('count')
genre_ratings.head(50)
#ok that worked but what exactly did I do here

In [ ]:
test1 = genre_ratings.groupby(['genre_list']).mean()
# you need to avg the avg ratings by genre 
#how do you plot this?

test1.plot(y = 'averagerating', kind ='line')

#TODO MESS WITH THIS UNTIL IT SHOWS ALL CATEGORIES
#TEST WHICH GRAPH TO USE!! 
#hide lower sections?

In [ ]:
test1.plot()

In [ ]:
#we neex to connect genre and ROI or worlwide gross

In [ ]:
movie_budgets.head()

In [ ]:
genre_ratings.head()

movie to primary title 
clean the title strip the title for spaces

In [ ]:
genre_ratings.rename(columns = {'title':'movie'}, inplace = True)

In [ ]:
genre_ratings.head()

In [ ]:
genre_roi = pd.merge(movie_budgets, genre_ratings, on=['movie'], how='outer')

genre_roi.head(50)

In [ ]:
genre_roi.columns = genre_roi.columns.str.strip()

In [ ]:
genre_roi.info()

In [ ]:
genre_roi = genre_roi.dropna()
genre_roi.info()

In [ ]:
genre_roi.head(20)

In [ ]:
genre_roi.drop([0], axis=0)

In [ ]:
genre_roi

In [ ]:
genre_roi['runtime_minutes'] = genre_roi['runtime_minutes'].apply(pd.to_numeric)

In [ ]:
genre_roi.groupby(['runtime_minutes']).mean()
#avg_roi_year.plot(x = 'ROI', y = 'runtime_minutes')

At the end, it is always a best practice to close the connection to the database.

In [ ]:
conn.close()